<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962743140116-4ovu5hgi54ibuuke8qbgk9ba3fcbg2i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962743140116-4ovu5hgi54ibuuke8qbgk9ba3fcbg2i3</string>
	<key>API_KEY</key>
	<string>AIzaSyB3rR24YNtysqmgOK_wPIGW01vYtC0lG2I</string>
	<key>GCM_SENDER_ID</key>
	<string>962743140116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firstapp-75986</string>
	<key>STORAGE_BUCKET</key>
	<string>firstapp-75986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962743140116:ios:210076729609154338cc01</string>
</dict>
</plist>